@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Listagens</h2>
</div>
<ul>
    <li>@Html.ActionLink("Alunos maiores de 16 anos", "ListaMaiores", "Aluno")</li>
    <li>@Html.ActionLink("Professores cuja média de idade dos alunos está entre 15 e 17 anos", "ListarProfessores", "Professor")</li>
</ul>