@using X.PagedList.Mvc;
@using X.PagedList;

@{
    ViewBag.Title = "Professores";
}

<h2>Professores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_Grid")

@Html.PagedListPager((IPagedList)ViewBag.PaginaDeProfessores, page => Url.Action("Index", new { page }))