@{
    ViewBag.Title = "Alunos";
}

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Alunos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Action("Listar")